* {
  box-sizing: border-box;
  outline: 2px dashed rebeccapurple;
}

p {
  color: green;
}

.myParagraph {
  color: blue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

.myHeading {
  text-decoration: underline;
}

.special-paragraph {
  /* margin-block: 60px; */
  margin-top: 60px;
  margin-bottom: 60px;
}

.container {
  background-color: orange;
  width: 20rem;
  height: 20rem;
  align-content: center;
  padding: 3rem;
  /* border: 10px solid rebeccapurple; */
  margin: 4rem;
  /* box-sizing: border-box; */
}

.box {
  color: whitesmoke;
  background-color: blue;
  width: 5rem;
  height: 5rem;
  margin: auto;
  text-align: center;
  line-height: 5rem;
}
